
$colorOscuro: #1a2341;
$colorEnlaces: #f0f3f4;

$mapRedes:(
    instagram: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      ),
    facebook: #3b5998,

    twitter: #00acee

);